# Editor
.vscode/

# MacOS
.DS_Store

# Python
__pycache__/
.pytest_cache/
.python-version
venv/

# Secrets
setup.sh
.env

# Bot generated
bot_files/

# Local Redis generated
dump.rdb

# Test generated
cc-test-reporter
.coverage
coverage.xml
