[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
disable=logging,
        design,
        protected-access,
        C0330,
        invalid-name,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring

enable=spelling,
       refactoring,
       imports

[FORMAT]
ignore-long-lines=^\s*[#].*|.*".*".*