discord.py[voice]==2.3.1
wikipedia==1.4.0
Pillow==10.0.0
eyeD3==0.9.7
redis==4.6.0
holidays==0.28
gunicorn==20.1.0
python-dotenv==1.0.0
hiredis==2.2.3
sentry-sdk==1.27.0
pandas==2.0.3
blinker==1.6.2
Authlib==0.15.5
fastapi==0.99.1
orjson==3.9.1
itsdangerous==2.1.2
uvicorn[standard]==0.22.0
httpx==0.24.1
aiofiles==23.1.0
pycryptodome==3.18.0
chardet==5.1.0