discord.py[voice]==2.1.0
wikipedia==1.4.0
Pillow==9.1.1
eyeD3==0.9.6
redis==4.1.4
holidays==0.13
gunicorn==20.1.0
python-dotenv==0.20.0
hiredis==2.0.0
sentry-sdk==1.6.0
pandas==1.4.2
blinker==1.4
Authlib==0.15.5
fastapi==0.78.0
orjson==3.8.7
itsdangerous==2.1.2
uvicorn[standard]==0.17.6
httpx==0.23.0
aiofiles==0.8.0
pycryptodome==3.15.0
chardet==5.0.0